<h2>Interações</h2>

<% if @lead.interactions.any? %>
  <ul>
    <% @lead.interactions.each do |interaction| %>
      <li><strong><%= interaction.created_at.strftime("%d/%m/%Y %H:%M") %>:</strong> <%= interaction.content %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma interação registrada.</p>
<% end %>

<%= link_to "Nova Interação", new_interaction_path(lead_id: @lead.id) %>
